.dd
{
	background-color:#3b5998;
	height:100px;
	
}
.ff
{
	
	color:#fff;
	font-size:50;
	margin-left:50px;
	margin-top:40px;
}
.ppp
{
	color:#fff;	
}
.pp
{
	font-size:40;
	margin-left:250px;
}
.ab
{
	margin-left:50px;
}
.aa
{
	margin-left:150px;
}
.a
{
	margin-left:100px;
	
}
.imgs
{	
	height:500px;
	width:670px;
}
.cc
{
	background-color:dedefa;
}